:root {
  --colour-green: hsl(140, 95%, 48%);
  --colour-blue:hsl(200, 80%, 60%);
  --colour-background-light:hsl(0, 0%, 100%);
  --colour-background-dark:hsl(0, 0%, 0%);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
}

.title {
  text-align: center;
  background: var(--colour-background-dark);
  padding: 2em;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.title h1 {
  font-size: clamp(16px, 12vw, 180px);
  font-family: Ultra, serif;
  font-weight: 900;
  line-height: 0.7;
  letter-spacing: -5px;
  overflow: hidden;
}

.title h2 {
  font-size: clamp(16px, 5vw, 100px);
  font-family: Erica One;
  font-weight: 100;
  text-transform: uppercase;
}

.title h1, .title h2 {
  display: inline-block;
  background-image: url(cartoonAurora.png);
  background-repeat: repeat space;
  background-clip: text;
  animation-name: aurora;
  animation-duration: 8s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  -webkit-background-repeat: repeat space;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation-name: aurora;
  -webkit-animation-duration: 8s;
  -webkit-animation-timing-function: ease-out;
  -webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes aurora {
  0% {
    -webkit-background-position-y: -100px;
  }
  100% {
    -webkit-background-position-y: -400px;
  }
}

@keyframes aurora {
  0% {
    background-position-y: -100px;
  }
  100% {
    background-position-y: -400px;
  }
}

.bookNow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5rem;
  background: var(--colour-background-light);
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: clamp(16px, 5vw, 60px);
  text-decoration: none;
  width: 100%;
  max-width: 600px;
  height: 40%;
  min-height: 80px;
  max-height: 150px;
  border: none;
  border-radius: 30px;
  background: var(--colour-background-light);
  color: var(--colour-background-dark);
  font-family: Ultra, serif;
  -webkit-box-shadow: 0px 0px 25px #333333;
          box-shadow: 0px 0px 25px #333333;
}

.bio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: black;
  line-height: 1.6;
  font-size: clamp(12px, 1.5vw, 24px);
  padding-bottom: 100px;
}

.bio .description {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  padding: 0.9rem;
  max-width: 600px;
}

.bio .image {
  position: relative;
  padding: 1rem;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  max-width: 600px;
  height: auto;
}

.bio .image img {
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: fixed;
  bottom: 0;
  padding-bottom: 0.5em;
  font-size: 0.8rem;
  width: 100vw;
  height: 100px;
  background: black;
}

.footer .contact {
  display: inline;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--colour-blue);
  text-decoration: none;
}

.footer .contact svg {
  width: 60px;
  height: 60px;
}

.footer .address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--colour-blue);
  font-weight: 800;
  text-decoration: none;
}

@media only screen and (max-width: 600px) {
  .title {
    padding: 0;
    padding-top: 2em;
    padding-bottom: 1.5em;
    margin: 0;
  }
  .bio {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=style.css.map */