:root{
    --colour-green: hsl(140, 95%, 48%);
    --colour-blue:hsl(200, 80%, 60%);
    --colour-text:hsl(0, 0%, 100%);
    --colour-background:hsl(0, 0%,0%);
    //.button has text & background reversed
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    overflow-x: hidden;
    
}

.title{
    text-align: center;
    background:var(--colour-background);
    padding: 4em;
    height: fit-content;
    
    h1{
        font-size: clamp(16px, 12vw, 180px);
        font-family: 'Sarpanch', sans-serif;
        font-weight: 900;
        line-height: 1.2;
        letter-spacing: 3vw;
        overflow: hidden;
    }
        h2{
            font-size: clamp(16px, 5vw, 100px);
            font-family: Lora, serif;
            font-weight: 800;
        }
        h1, h2{
        display: inline-block;
        background-image: url(cartoonAurora.png);
        
        background-repeat: repeat space;
        background-clip: text;
        
        
        animation-name: aurora;
        animation-duration:  8s;
        animation-timing-function: ease-out;
        animation-fill-mode: forwards;
        
        -webkit-background-repeat: repeat space;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-animation-name: aurora;
        -webkit-animation-duration: 8s;
        -webkit-animation-timing-function:  ease-out;
        -webkit-animation-fill-mode: forwards;
        
        
    }
    
    @-webkit-keyframes aurora{
        0%{-webkit-background-position-y: -100px;}
        100%{-webkit-background-position-y: -400px;}
        
    }
    @keyframes aurora{
        0%{background-position-y: -100px;}
        100%{background-position-y: -400px;}
    }
    
}

.bookNow{
    display: flex;
    justify-content: center;
    padding:5rem;
    background: var(--colour-background);
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: clamp(16px, 5vw, 60px);
    text-decoration: none;
    width:100%;
    max-width: 600px;
    height: 40%;
    min-height: 80px;
    max-height: 150px;
    border:none;
    border-radius: 10px;

    background:var(--colour-text);   
    color:var(--colour-background);


    
    font-family: Sarpanch, sans-serif;
    box-shadow: 0px 0px 25px hsl(0, 0%, 0%);
}

.section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    background: var(--colour-background);
    color:var(--colour-text);

    line-height: 1.8;
    font-size: clamp(12px, 1.5vw, 24px);
    font-family: Poppins , sans-serif;
    padding: 1.2rem 1.2rem 100px 1.2rem;
    
    .description{
        flex-basis: 100%;
        max-width: 600px;
        padding-left: 2rem;
    }
    h3{
        font-size: clamp(28px, 8vw, 36px);
    }
    li{
        font-size: clamp(14px,5vw, 18px);

    }
    
    .image{
        position: relative;
        flex-basis: 100%;
        max-width: 450px;
        padding:4rem;
        
        img{
            width:100%;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }
    }
}    

.footer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    bottom:0;
    padding-bottom:0.5em;
    font-size: 0.8rem;
    width: 100vw;
    height:100px;
    background: black;
    
    
    
    .contact{
        display: inline;
        justify-content: center;
        color:var(--colour-blue);
        
        text-decoration: none;
        
        svg{
            width:60px;
            height:60px;
        }
        
    }
    .address{
        display: flex;
        justify-content: center;
        color:var(--colour-blue);
        font-weight: 800;
        text-decoration: none;
    }
}

@media only screen and (max-width: 800px){
    
    .title{
        padding:0;
        padding-top:2em;
        padding-bottom: 1.5em;
        margin:0;
    }
    .bio{
        flex-direction: column;
    }
    .service{
        flex-direction: column-reverse;
    }
}